
#weatherIcon{    
    width: 120px;
    height: 120px;
}
#resultsDescrition{  
    background-color:steelblue; 
    height: 25vh;
    display: flex;
    justify-content: center;   
    align-items: center; 
    flex-direction: column;   
        
    
}

h4{
    margin-top: 0px;
    margin-bottom: 0px;
}
